<form [formGroup]="garaForm" (ngSubmit)='AggiungiGara(garaForm.value)'>
  <div class="container custom-container">
    <div class="col-md-12">
      <h3 class="mb-3 text-center">Crea nuova Gara</h3>
      <div class="form-group">
        <input type="text" [(ngModel)]="gara.Nome" class="form-control" placeholder="Nome" formControlName="Nome"/>
      </div>
      <div *ngIf="garaForm.controls['Nome'].invalid && (garaForm.controls['Nome'].dirty || garaForm.controls['Nome'].touched)" class="alert alert-danger">
        <div *ngIf="garaForm.controls['Nome'].errors.required">
          Nome è richiesto
        </div>
      </div>
      <div class="form-group">
        <input type="date" [(ngModel)]="gara.Data" class="form-control" placeholder="Data" formControlName="Data"/>
      </div>
      <div *ngIf="garaForm.controls['Data'].invalid && (garaForm.controls['Data'].dirty || garaForm.controls['Data'].touched)" class="alert alert-danger">
        <div *ngIf="garaForm.controls['Data'].errors.required">
          Data è richiesta
        </div>
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="gara.Sport" class="form-control" placeholder="Sport" formControlName="Sport"/>
      </div>
      <div *ngIf="garaForm.controls['Sport'].invalid && (garaForm.controls['Sport'].dirty || garaForm.controls['Sport'].touched)" class="alert alert-danger">
        <div *ngIf="garaForm.controls['Sport'].errors.required">
          Sport è richiesto
        </div>
      </div>
      <div class="form-group">
          <button class="btn btn-success" routerLink='/GaraLista' routerLinkActive="active" value="send">Indietro</button>
        <button class="btn btn-success" type="submit" [disabled]="garaForm.invalid" value="send" style="margin-left: 900px">
          Crea Gara
        </button>
      </div>
    </div>
  </div>
</form>